<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.ch2.dao.FreeCommentMapper">
	<select id="count" parameterType="int" resultType="int">
		SELECT count(*) FROM free_comment WHERE bno = #{bno}
	</select>
	
	<select id="selectAll" parameterType="int" resultType="CommentDto">
		SELECT cno, ifnull(pcno, cno) as pcno, bno, writer, contents, regdate FROM free_comment WHERE bno = #{bno} ORDER BY pcno ASC, cno ASC;
	</select>
	
	<select id="select" parameterType="int" resultType="CommentDto">
		SELECT * FROM free_comment WHERE cno = #{cno}
	</select>
	
	<delete id="deleteAll" parameterType="int">
		DELETE FROM free_comment WHERE bno = #{bno}
	</delete>
	
	<delete id="delete" parameterType="map">
		DELETE FROM free_comment WHERE cno = #{cno} and writer = #{writer}
	</delete>
	
	<insert id="insert" parameterType="CommentDto">
		INSERT INTO free_comment (pcno, bno, writer, contents) VALUES (#{pcno}, #{bno}, #{writer}, #{contents})
	</insert>
	
	<update id="update" parameterType="CommentDto">
		UPDATE free_comment 
		SET contents = #{contents} WHERE cno = #{cno} and writer = #{writer}
	</update>
</mapper>