<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.ch2.dao.UserMapper">
	<select id="count" resultType="int">
		SELECT count(*) FROM user_info
	</select>
	
	<select id="selectAll" resultType="UserDto">
		SELECT * FROM user_info
	</select>
	
	<select id="select" parameterType="String" resultType="UserDto">
		SELECT * FROM user_info WHERE id = #{id}
	</select>
	
	<delete id="deleteAll">
		DELETE FROM user_info
	</delete>
	
	<delete id="delete" parameterType="String">
		DELETE FROM user_info WHERE id = #{id}
	</delete>
	
	<insert id="insert" parameterType="UserDto">
		INSERT INTO user_info VALUES (#{id}, #{pwd}, #{email}, #{name}, #{nickname}, #{birth})
	</insert>
	
	<update id="update" parameterType="UserDto">
		UPDATE user_info 
		SET pwd = #{pwd}, email = #{email}, name = #{name}, nickname = #{nickname}, birth = #{birth} WHERE id = #{id}
	</update>
</mapper>